$red: red;
.leftBox {
  width: 150px;
  height: 55px;
  position: absolute;
  left: 15px;
  top: 0;
  img {
    width: 100%;
    height: 100%;
  }
}

.centerBox {
  width: 550px;
  height: 55px;
  padding-top: -4px;
  margin-left: 200px;

  .centerTabs {
    display: flex;
    height: 55px;

    .centerTabs-li {
      width: 85px;
      height: 55px;

      line-height: 55px;
      margin-right: 13px;
      cursor: pointer;

      .hot-tag {
        width: 25px;
        height: 12px;
        line-height: 8px;
        position: absolute;
        top: 8px;
        left: 305px;
        background-color: red;
        color: #ffffff;
        padding: 2px 5px;
        font-size: 7px;
        border-radius: 6px;
      }
      .ban-tag {
        width: 58px;
        max-height: 15px;
        line-height: 14px;
        position: absolute;
        top: 5px;
        left: 360px; /* 或其他值，根据布局调整 */
        background-color: rgb(255, 209, 62); /* 根据需要选择颜色 */
        color: #000; /* 文本颜色 */
        padding: 2px 5px;
        font-size: 10px;
        border-radius: 12px 0px 12px 0px;
      }
    }
    .centerTabs-li:hover {
      color: rgb(16, 68, 255);
    }
  }
}

.rightBox {
  width: 280px;
  height: 55px;
  line-height: 53px;
  position: absolute;
  top: 0;
  right: 20px;
}

.contextTop {
  width: 100%;
  height: 80px;
  display: flex;
  margin-top: 30px;
  margin-left: 30px;
  .contextTop-left {
    width: 250px;
    height: 80px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.contextTop-center {
  width: 430px;
  height: 80px;
  margin-left: 60px;
  .contextTop-search {
    width: 430px;
    height: 50px;
    .contextTop-search-index {
      width: 100%;
      height: 100%;
    }
  }
}

.contextTop-ul {
  width: 450px;
  height: 30px;
  .contextTop-ul-for {
    display: flex;
    li {
      margin-right: 10px;
      cursor: pointer;
      line-height: 30px;
      color: #ccc;
    }
    li:hover {
      color: rgb(16, 68, 255);
    }
    .contextTop-li-one {
      margin-left: 13px;
    }
  }
}

.contextMiddel {
  width: 1150px;
  height: 260px;
  margin-top: 30px;
  margin-left: 30px;
  img {
    width: 100%;
    height: 260px;
    border-radius: 13px;
  }
}

.siderDiv {
  width: 210px;
  max-width: 210px !important;

  z-index: 9999;
}
.SiderMenu {
  width: 210px;
  padding: 15px;
  z-index: 999999;
}

.ImageMeat {
  width: 20px;
  height: 20px;
}

.contextTabs {
  margin-left: 30px;
  margin-top: 30px;
  width: 1150px;
  overflow: hidden;

  ul {
    width: 100%;
    height: 88px;
    display: flex;
    transition: 10s;
    li {
      width: 220px;
      height: 100%;
      transition: 10s;
      margin-right: 30px;
      img {
        width: 220px;
        height: 88px;
        transition: 10s;
        cursor: pointer;
        transition: transform 0.3s ease; /* 平滑过渡效果 */
        display: block; /* 确保img是块级元素，以便应用transform属性 */
      }
    }
  }
}

.contextTabs-right {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  color: #74749a;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 510px;
  cursor: pointer;
  user-select: none;
  z-index: 99999;
}

.contextTabs-left {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  color: #74749a;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  position: absolute;
  left: 220px;
  top: 510px;
  cursor: pointer;
  user-select: none;
  z-index: 99999;
}

.contextTabs-left.reversed,
.contextTabs-right.reversed {
  /* 箭头取反的样式，例如改变背景颜色或旋转箭头图标 */
  transform: scaleX(-1);
}

.contextTabs-left:hover {
  background-color: blue;
  color: #ffffff;
}

.contextTabs-right:hover {
  background-color: blue;
  color: #ffffff;
}

.hidden {
  display: none;
}



/* 悬停状态 */
.contextTop-ul-for li:hover img {
  display: inline-block;
  transform: translateY(-10px);
}
